@import "node_modules/bootstrap/scss/bootstrap";

html,
body {
  background-color: #212529 !important;
  padding: 0;
  margin: 0;
  font-family: sans-serif !important;
}

hr.separator {
  max-width: 100px;
  border-top: 1.5px dashed gray;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-header {
  &__title {
    color: white;
    font-weight: bold;
  }

  &__description {
    color: gray;
    margin-top: -10px;
  }
}

.menu-nav {
  color: white;
  max-width: 400px;
  display: flex;
  margin: auto;

  &__image {
    border-right: dashed gray 1px;
    border-left: dashed gray 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    flex: 1;
  }

  &__navs {
    border-left: dashed gray 1px;
    border-right: dashed gray 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex: 1;
  }

  &__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__li {
    margin-top: 10px;
  }

  &--effect {
    color: white;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    position: relative;

    &:hover {
      color: #95a5a6;
      text-decoration: none;
    }

    &::before {
      content: "-";
      position: absolute;
      left: 0;
      opacity: 0;
      transition: 0.2s;
      color: #e77f7f;
    }

    &::after {
      content: "-";
      position: absolute;
      right: 0;
      opacity: 0;
      transition: 0.2s;
      color: #e77f7f;
    }

    &:hover::before {
      left: -10px;
      opacity: 1;
    }

    &:hover::after {
      right: -10px;
      opacity: 1;
    }
  }
}

.menu-contacts {
  &--effect {
    color: gray;

    &:hover {
      transition: 0.4s;
      color: rgb(214, 70, 70, 0.7) !important;
    }
  }
}

.about {
  border-left: 1px dashed gray;
  border-right: 1px dashed gray;
  border-radius: 15px;
  margin-top: 50px;
  color: white;

  &__title {
    font-weight: bold;
  }

  &__description {
    color: gray;
    margin-top: -10px;
  }

  &--close {
    color: #e77f7f;
    position: relative;
    float: right;
  }

  &--close:hover {
    color: rgb(214, 70, 70, 0.7);
  }
}

.about-content {
  border-left: 1px dashed gray;
  border-right: 1px dashed gray;
  border-radius: 15px;
  margin-top: 25px;
  color: white;
  margin-bottom: 30px;

  &--add-space {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  &__company-link {
    color: #e77f7f;
  }

  &__company-link:hover {
    color: rgb(214, 70, 70, 0.7);
  }

  &__text {
    color: #9a9a9a;
  }

  &__company {
    color: #dedede;
  }

  &__position {
    margin-top: -8px;
    color: #9a9a9a;
  }
}

.projects {
  border-left: 1px dashed gray;
  border-right: 1px dashed gray;
  border-radius: 15px;
  margin-top: 50px;
  color: white;

  &__title {
    font-weight: bold;
  }

  &__description {
    color: gray;
    margin-top: -10px;
  }

  &--close {
    color: #e77f7f;
    position: relative;
    float: right;
  }

  &--close:hover {
    color: rgb(214, 70, 70, 0.7);
  }
}

.projects-content {
  border-left: 1px dashed gray;
  border-right: 1px dashed gray;
  border-radius: 15px;
  margin-top: 25px;
  color: white;
  margin-bottom: 30px;
  padding: 25px;

  &--links {
    color: #e77f7f;
  }

  &--links:hover {
    color: rgb(214, 70, 70, 0.7);
  }
}
