@import '~bootstrap/dist/css/bootstrap.min.css';

$base-color: #e77f7f;
$accent-color: rgb(214, 70, 70, 0.7);

html,
body {
  background-color: #212529 !important;
  padding: 0;
  margin: 0;
  font-family: sans-serif !important;
}

hr.separator {
  max-width: 100px;
  border-top: 1.5px solid gray;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  &--red-base {
    color: $base-color;
  }

  &--red-base:hover {
    color: $accent-color;
  }
}

.menu-header {
  &__title {
    color: white;
    font-weight: bold;
  }

  &__description {
    color: gray;
    margin-top: -10px;
  }
}

.menu-nav {
  color: white;
  max-width: 400px;
  display: flex;
  margin: auto;

  &__image {
    border-right: solid gray 1px;
    border-left: solid gray 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    max-height: 200px;
    max-width: 200px;
    flex: 1;
  }

  &__navs {
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex: 1;
  }

  &__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__li {
    margin-top: 10px;
  }

  &--effect {
    color: white;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    position: relative;

    &:hover {
      color: #95a5a6;
      text-decoration: none;
    }

    &::before {
      content: '-';
      position: absolute;
      left: 0;
      opacity: 0;
      transition: 0.2s;
      color: $base-color;
    }

    &::after {
      content: '-';
      position: absolute;
      right: 0;
      opacity: 0;
      transition: 0.2s;
      color: $base-color;
    }

    &:hover::before {
      left: -10px;
      opacity: 1;
    }

    &:hover::after {
      right: -10px;
      opacity: 1;
    }
  }
}

.menu-footer {
  margin-top: 15px;
  margin-bottom: 10px;

  &__title {
    margin: 0;
    font-size: 12px;
    color: gray;
  }

  &__link {
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
  }

  &__link:hover {
    color: $accent-color;
    transition: 0.3s;
  }
}

.page-header {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 30px;
  padding-top: 10px;
  color: white;

  &__title {
    font-weight: bold;
  }

  &__description {
    color: gray;
    margin-top: -10px;
  }

  &--close {
    color: $base-color;
    position: relative;
    float: right;
  }

  &--close:hover {
    color: $accent-color;
  }
}

.page-content {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin-top: 50px;
  color: white;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: calc(100vh - 260px);
}

.about {
  &--add-space {
    margin-bottom: 50px;
  }

  &__company-link {
    color: $base-color;
  }

  &__company-link:hover {
    color: $accent-color;
  }

  &__text {
    color: #9a9a9a;
  }

  &__company {
    color: #dedede;
  }

  &__position {
    margin-top: -8px;
    color: #9a9a9a;
  }
}

.projects {
  &__entry {
    height: 100%;
  }

  &--links {
    color: $base-color;
  }

  &--links:hover {
    color: $accent-color;
  }
}

.footer {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &__copyright {
    font-size: 12px;
    color: lightgray;
  }

  &__name {
    color: $base-color;
  }

  &__name:hover {
    color: $accent-color;
    cursor: pointer;
  }

  &__links {
    font-size: 20px;
  }

  &__link {
    color: gray;
    margin-left: 5px;
  }

  &__link:hover {
    color: $accent-color;
    transition: 0.3s;
  }
}

@media (max-width: 600px) {
  .page-header {
    margin-top: 0px;
  }

  .footer {
    margin-bottom: 0px;
  }
}
